
.main-deathscreen, .deathscreen-flex {
    display: flex;
    width: 100%;
    height: 100%;
}


.main-deathscreen {
    position: absolute;
    inset: 0;
    z-index: -1;

    background: radial-gradient(50% 90% at 50% 50%, rgba(35, 35, 35, .15) 0%, rgba(33, 33, 33, .30) 100%);
	background-color: rgba(0, 0, 0, .35);

    font-family: "Montserrat";
    font-variant-ligatures: none;
}

.deathscreen-flex {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    padding-bottom: 40px;
}

.deathscreen-flex .anim, .deathscreen-flex .text {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deathscreen-flex .text {
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 15px;
}


.deathscreen-flex .heart {
    background: #ef5852;
    border-radius: 100px;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: mainDeath 2s linear infinite;
}

.deathscreen-flex .heart-layout-1 {
    position: absolute;

    width: 90px;
    height: 90px;
    border-radius: 100px;

    animation: layerFirstDeath 2s linear infinite;
    animation-delay: 1s;
}

.deathscreen-flex .heart-layout-2 {
    position: absolute;

    width: 90px;
    height: 90px;
    border-radius: 100px;

    animation: layerSecondDeath 2s linear infinite;
    /* animation-delay: 2s; */
}

@keyframes layerFirstDeath {
    from {
        box-shadow: 0 0 0 15px #ef585235;
    }
    50% {
        box-shadow: 0 0 0 20px #ef585245;
    }
    65% {
        box-shadow: 0 0 0 40px #ef585230;
    }
    100% {
        box-shadow: 0 0 0 10px #ef585230;
    }
}

@keyframes layerSecondDeath {
    from {
        box-shadow: 0 0 0 35px #ef585235;
    }
    50% {
        box-shadow: 0 0 0 65px #ef585215;
    }
    65% {
        box-shadow: 0 0 0 60px #ef585230;
    }
    100% {
        box-shadow: 0 0 0 30px #ef585230;
    }
}

@keyframes mainDeath {
    from {
        transform: scale(initial);
    }
    50% {
        transform: scale(115%);
        /* background: #ef585280; */
    }
    to {
        transform: scale(initial);
        /* background: #ef585260; */
    }
}

.deathscreen-flex .heart > img {
    width: 60px;
    height: 60px;
}


.deathscreen-flex .time {
    font-size: 14px;
    color: hsla(0, 0%, 100%, .4);
}

.deathscreen-flex .time span {
    color: hsla(0, 0%, 100%, .6);
}

.deathscreen-flex .description {
    margin-top: 4px;
    font-size: 14px;
    color: hsla(0, 0%, 100%, .5);
}
